<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tommytao.a5steak.paypal">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- Activities responsible for PayPal SDK (without Card IO) -->
        <service android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />

        <activity
            android:name=".PayPalManager$PayPalPayActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Activities responsible for Card IO -->
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />

        <activity
            android:name=".scanner.CardIoScanner$CardIoActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>
