<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tommytao.a5steak.glocation">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- Service responsible for Activity G Api sensor -->
        <service android:name=".ActivityGApiSensor$SenseService" />

        <!-- Service responsible for LocationFusedSensor Geofence -->
        <service android:name=".LocationFusedSensor$GeofenceService" />

    </application>

</manifest>
