<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tommytao.a5steak.gplus">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!-- Activities responsible for G+ -->
        <activity
            android:name=".GPlusManager$GPlusStartResolutionActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".GPlusManager$GPlusUserRecoverableAuthActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>
